#bar{
    padding-bottom:1px; 
    padding-top:1px;
    height:115px;
        }

#barra {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif, monospace;
    color: #000000;
    font-weight: bold;
    text-decoration-color: #ffd800;
    height: auto;
}

#titulo {
    font-weight: bold;
    padding-left: 17px;
    padding-bottom: 2px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-style: double;
}
#centro {
    text-align:justify;
    border-bottom-left-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f1f1;
    font-size: 16px;
    background-color: #d1cfcf;
    border-radius: 0px 4px 4px 0px;
}

#bloco1 {
    text-align: justify;
    border-bottom-left-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f1f1;
    font-size: 16px;
    background-color: #f7f1f1;
    border-radius: 4px 0px 0px 4px;
}
#bloco2 {
    border-bottom-left-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f1f1;
    font-size: 16px;
    background-color: #f7f1f1;
    border-radius: 0px 4px 4px 0px;
}

#lblMensagem{
    background-color: #f7f1f1;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size:16px;
    font-style:initial;
    padding:8px;
    border-color:black;
}
#footer {
    background-color: #f7f1f1;
    border-bottom-left-radius: 0px;
    border-radius:4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
#lblMensagem {
color:#808080;
background-color:#00ff90;
}
div{
    clear:right;
    padding:8px;
    border:3px;
}